
  
  .card {
    border-radius: 8px;
  }
  
  .btn-primary {
    background-color: #0d6efd; 
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #0b5ed7  !important;
  }
  
  .form-label {
    font-weight: 500  !important;
  }
  .login-container{
    border: 1px solid #1d447e !important;
    display: flex !important;
    width: 100% !important;
    max-width: 800px !important;
    border-radius: 10px !important;
    height: fit-content !important;
    overflow: hidden !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
  }
  .body-container {
    display: flex !important;
    justify-content: center !important;

    height: 100vh !important;
    align-items: center !important;
  }
  .name{
    float: left;
    font-weight: bold !important;
  margin-bottom: 7px !important;
  }
  .loginBx {
    padding: 35px 30px;
    width: 100%;
    background: #ffffff !important;
  }
  .text-primary {
    color: rgb(6, 6, 6) !important;
  }
  .loginBx.loginBx1 img {
    width: 100% !important;
  }
  .loginBx.loginBx2 {
    border-left: 1px solid #ddd !important;
  }



  .spinner {
    width: 3rem !important;
    height: 3rem !important;

  }
  
  @media (min-width: 768px) {
    .spinner {
      width: 5rem !important; 
      height: 5rem !important;
   
    }
  }
  
  @media (min-width: 1200px) { 
    .spinner {
      width: 5rem !important;
      height: 5rem !important;
     
    }
  }
  