<div class="body-container">
  <div class="login-container">
    <div class="loginBx loginBx1">
      <img src="image.png" alt="" height="100%" width="100%" />
    </div>
    <div class="loginBx loginBx2">
      <h3
        class="text-center text-danger  mb-4 fw-bold"
        style="text-transform: uppercase; font-weight: 600 ;"
      >
        Login
      </h3>
      <form [formGroup]="loginform" >
        <div class="mb-3 ">
          <label for="username" class="form-label text-primary" class="name">Name:</label>
          <input
            formControlName="name"
            type="text"
            class="form-control"
            id="username"
            placeholder="Ex.War"
          />
        
        </div>
        <div class="mb-3 ">
          <label for="password" class="form-label text-primary" class="name">Description:</label>
          <input
            type="text" 
            class="form-control"
            formControlName="description"
            
            placeholder="Ex.Developer"
          />
        
        </div>
        <div class="mb-3">
          <label for="password" class="form-label text-primary" class="name">Type:</label>
          <input
            type="text" 
            class="form-control"
            formControlName="type"
           
            placeholder="Ex.7"
          />
        
        </div>
        <div class="d-grid">
          <button
            type="submit"
            class="btn btn-primary"
            (click)="onSubmit()"
            
          >
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="spinner spinner-border text-danger position-absolute top-50 start-50 " role="status" *ngIf="spinnershow" >
  </div>
  
 
  
 <div class="alert alert-danger alert-dismissible fade show position-absolute top-0 end-0 me-3 mt-3" role="alert" *ngIf="ErrorShow" >
  <strong>Error Occured!</strong> 
</div>

<div class="alert alert-warning alert-dismissible fade show position-absolute top-0 end-0 me-3 mt-3" role="alert" *ngIf="warnshow" >
  <strong>Please Fill All The Fields!</strong> 
</div> 




